body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(wp2130046-microphone-wallpapers.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    color: white;
    background-color: rgba(254, 39, 39, 0.58);
}
header img{
    margin-left: 40px;
    margin-top: 15px;
}
header h2{
    margin-left: 10px;
}
header nav{
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
}
header nav a{
    text-decoration: wavy;
    color: white;
    position: relative;
    margin-left: 40px;
}
header nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 16px;
    background-color: black;
    transition: .4s ease;
    color: black;
    width: 0;
    height: 3px;
}
header nav a:hover::after{
    width: 100%;
}
header nav a:hover{
    color: black;
}
.container{
    background-color: rgba(254, 39, 39, 0.58);
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 5px;
    height: 350px;
    margin-top: 50px;
    display: flex;
}
.container .main-img{
    margin-left: 200px;
}
.music-items{
    margin-left: 50px;
}
.music-items h2{
    color: white;
    text-align: center;
}
.song-items-play{
    width: 390px;
    height: 282px;
    overflow-y: scroll;
}
.song-items-play::-webkit-scrollbar{
    width: 15px;
}
.song-items-play::-webkit-scrollbar-track{
    background-color: #ccc;
}
.song-items-play::-webkit-scrollbar-thumb{
    background-color: rgb(24, 24, 24);
    cursor: grab;
}
.song-list{
    display: flex;
    background-color: white;
    width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 40px;
}
.song-img{
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.song-name{
    margin-left: 55px;
    font-size: 18px;
}
.song-list button{
    background-color: transparent;
    border: none;
    margin-left: 55px;
}
.song-list button i{
    font-size: 22px;
    color: black;
    cursor: pointer;
}
footer{
    background-color: rgba(254, 39, 39, 0.58);
    position: sticky;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 70px;
}
#range{
    width: 80%;
    margin-left: 120px;
    margin-top: 15px;
    cursor: pointer;
}
.main-song{
    display: flex;
    color: white;
    float: left;
    margin-top: 20px;
    margin-left: 120px;
}
.main-song h3{
    margin-top: 5px;
    margin-left: 10px;
}
.song-logos{
    float: right;
    margin-top: 20px;
    margin-right: 550px;
}
.song-logos i{
    font-size: 34px;
    margin: 0px 10px;
    cursor: pointer;
    color: white;
}
#gif{
    opacity: 0;
    transition: 1s;
}

@media screen and (max-width: 375px){
    header img{
        margin-left: 10px;
        height: 30px;
        width: 30px;
        margin-top: 15px;
    }
    header h2{
        margin-left: 10px;
        font-size: 22px;
    }
    header nav{
        display: flex;
        margin-top: 25px;
        margin-left: 20px;
    }
    header nav a{
        text-decoration: wavy;
        color: white;
        position: relative;
        margin-left: 30px;
    }
    header nav a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 16px;
        background-color: black;
        transition: .4s ease;
        color: black;
        width: 0;
        height: 3px;
    }
    header nav a:hover::after{
        width: 100%;
    }
    header nav a:hover{
        color: black;
    }
    .container{
        background-color: rgba(254, 39, 39, 0.58);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        height: 350px;
        margin-top: 50px;
        display: flex;
    }
    .container .main-img{
        margin-left: 200px;
        display: none;
    }
    .music-items{
        margin-left: 0px;
    }
    .music-items h2{
        color: white;
        text-align: center;
    }
    .song-items-play{
        width: 340px;
        height: 282px;
        overflow-y: scroll;
    }
    .song-items-play::-webkit-scrollbar{
        width: 15px;
    }
    .song-items-play::-webkit-scrollbar-track{
        background-color: #ccc;
    }
    .song-items-play::-webkit-scrollbar-thumb{
        background-color: rgb(24, 24, 24);
        cursor: grab;
    }
    .song-list{
        display: flex;
        background-color: white;
        width: 300px;
        margin-left: 10px;
        padding: 4px;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .song-img{
        border-radius: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .song-name{
        margin-left: 55px;
        font-size: 16px;
    }
    .song-list button{
        background-color: transparent;
        border: none;
        margin-left: 55px;
    }
    .song-list button i{
        font-size: 22px;
        color: black;
        cursor: pointer;
    }
    footer{
        background-color: rgba(254, 39, 39, 0.58);
        position: sticky;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 84px;
    }
    #range{
        width: 80%;
        margin-left: 35px;
        margin-top: 15px;
        cursor: pointer;
    }
    .main-song{
        display: flex;
        flex-direction: column;
        color: white;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }
    .main-song h3{
        margin-top: 15px;
        font-size: 14px;
        margin-left: 0px;
    }
    .song-logos{
        float: right;
        margin-top: 20px;
        margin-right: 90px;
    }
    .song-logos i{
        font-size: 34px;
        margin: 0px 5px;
        cursor: pointer;
        color: white;
    }
    #gif{
        opacity: 0;
        transition: 1s;
        height: 20px;
        width: 70px;
    }
}

@media screen and (min-width: 376px) and (max-width: 480px){
    header img{
        margin-left: 20px;
        height: 30px;
        width: 30px;
        margin-top: 15px;
    }
    header h2{
        margin-left: 10px;
        font-size: 22px;
    }
    header nav{
        display: flex;
        margin-top: 22px;
        margin-left: 40px;
    }
    header nav a{
        text-decoration: wavy;
        color: white;
        position: relative;
        margin-left: 40px;
    }
    header nav a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 16px;
        background-color: black;
        transition: .4s ease;
        color: black;
        width: 0;
        height: 3px;
    }
    header nav a:hover::after{
        width: 100%;
    }
    header nav a:hover{
        color: black;
    }
    .container{
        background-color: rgba(254, 39, 39, 0.58);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        height: 350px;
        margin-top: 50px;
        display: flex;
    }
    .container .main-img{
        margin-left: 200px;
        display: none;
    }
    .music-items{
        margin-left: 0px;
    }
    .music-items h2{
        color: white;
        text-align: center;
    }
    .song-items-play{
        width: 420px;
        height: 282px;
        overflow-y: scroll;
    }
    .song-items-play::-webkit-scrollbar{
        width: 15px;
    }
    .song-items-play::-webkit-scrollbar-track{
        background-color: #ccc;
    }
    .song-items-play::-webkit-scrollbar-thumb{
        background-color: rgb(24, 24, 24);
        cursor: grab;
    }
    .song-list{
        display: flex;
        background-color: white;
        width: 376px;
        margin-left: 10px;
        padding: 4px;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .song-img{
        border-radius: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .song-name{
        margin-left: 55px;
        font-size: 16px;
    }
    .song-list button{
        background-color: transparent;
        border: none;
        margin-left: 55px;
    }
    .song-list button i{
        font-size: 22px;
        color: black;
        cursor: pointer;
    }
    footer{
        background-color: rgba(254, 39, 39, 0.58);
        position: sticky;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 84px;
    }
    #range{
        width: 80%;
        margin-left: 35px;
        margin-top: 15px;
        cursor: pointer;
    }
    .main-song{
        display: flex;
        flex-direction: column;
        color: white;
        float: left;
        margin-top: 20px;
        margin-left: 35px;
    }
    .main-song h3{
        margin-top: 15px;
        font-size: 14px;
        margin-left: 0px;
    }
    .song-logos{
        float: right;
        margin-top: 20px;
        margin-right: 160px;
    }
    .song-logos i{
        font-size: 34px;
        margin: 0px 5px;
        cursor: pointer;
        color: white;
    }
    #gif{
        opacity: 0;
        transition: 1s;
        height: 20px;
        width: 70px;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px){
    header img{
        margin-left: 20px;
        height: 30px;
        width: 30px;
        margin-top: 15px;
    }
    header h2{
        margin-left: 10px;
        font-size: 22px;
    }
    header nav{
        display: flex;
        margin-top: 22px;
        margin-left: 20px;
    }
    header nav a{
        text-decoration: wavy;
        color: white;
        position: relative;
        margin-left: 40px;
    }
    header nav a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 16px;
        background-color: black;
        transition: .4s ease;
        color: black;
        width: 0;
        height: 3px;
    }
    header nav a:hover::after{
        width: 100%;
    }
    header nav a:hover{
        color: black;
    }
    .container{
        background-color: rgba(254, 39, 39, 0.58);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        height: 350px;
        margin-top: 50px;
        display: flex;
    }
    .container .main-img{
        margin-left: 10px;
        width: 260px;
    }
    .music-items{
        margin-left: 0px;
    }
    .music-items h2{
        color: white;
        text-align: center;
    }
    .song-items-play{
        width: 350px;
        height: 282px;
        overflow-y: scroll;
    }
    .song-items-play::-webkit-scrollbar{
        width: 15px;
    }
    .song-items-play::-webkit-scrollbar-track{
        background-color: #ccc;
    }
    .song-items-play::-webkit-scrollbar-thumb{
        background-color: rgb(24, 24, 24);
        cursor: grab;
    }
    .song-list{
        display: flex;
        background-color: white;
        width: 306px;
        margin-left: 10px;
        padding: 4px;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .song-img{
        border-radius: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .song-name{
        margin-left: 55px;
        font-size: 16px;
    }
    .song-list button{
        background-color: transparent;
        border: none;
        margin-left: 55px;
    }
    .song-list button i{
        font-size: 22px;
        color: black;
        cursor: pointer;
    }
    footer{
        background-color: rgba(254, 39, 39, 0.58);
        position: sticky;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 84px;
    }
    #range{
        width: 80%;
        margin-left: 65px;
        margin-top: 15px;
        cursor: pointer;
    }
    .main-song{
        display: flex;
        color: white;
        float: left;
        margin-top: 20px;
        margin-left: 35px;
    }
    .main-song h3{
        margin-top: 5px;
        font-size: 14px;
        margin-left: 10px;
    }
    .song-logos{
        float: right;
        margin-top: 20px;
        margin-right: 200px;
    }
    .song-logos i{
        font-size: 34px;
        margin: 0px 5px;
        cursor: pointer;
        color: white;
    }
    #gif{
        opacity: 0;
        transition: 1s;
        height: 20px;
        width: 70px;
    }
}

@media screen and (min-width: 641px) and (max-width: 767px){
    header img{
        margin-left: 20px;
        height: 30px;
        width: 30px;
        margin-top: 15px;
    }
    header h2{
        margin-left: 10px;
        font-size: 22px;
    }
    header nav{
        display: flex;
        margin-top: 22px;
        margin-left: 20px;
    }
    header nav a{
        text-decoration: wavy;
        color: white;
        position: relative;
        margin-left: 40px;
    }
    header nav a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 16px;
        background-color: black;
        transition: .4s ease;
        color: black;
        width: 0;
        height: 3px;
    }
    header nav a:hover::after{
        width: 100%;
    }
    header nav a:hover{
        color: black;
    }
    .container{
        background-color: rgba(254, 39, 39, 0.58);
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
        height: 350px;
        margin-top: 50px;
        display: flex;
    }
    .container .main-img{
        margin-left: 60px;
        width: 260px;
    }
    .music-items{
        margin-left: 30px;
    }
    .music-items h2{
        color: white;
        text-align: center;
    }
    .song-items-play{
        width: 350px;
        height: 282px;
        overflow-y: scroll;
    }
    .song-items-play::-webkit-scrollbar{
        width: 15px;
    }
    .song-items-play::-webkit-scrollbar-track{
        background-color: #ccc;
    }
    .song-items-play::-webkit-scrollbar-thumb{
        background-color: rgb(24, 24, 24);
        cursor: grab;
    }
    .song-list{
        display: flex;
        background-color: white;
        width: 306px;
        margin-left: 10px;
        padding: 4px;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .song-img{
        border-radius: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .song-name{
        margin-left: 55px;
        font-size: 16px;
    }
    .song-list button{
        background-color: transparent;
        border: none;
        margin-left: 55px;
    }
    .song-list button i{
        font-size: 22px;
        color: black;
        cursor: pointer;
    }
    footer{
        background-color: rgba(254, 39, 39, 0.58);
        position: sticky;
        margin-top: 50px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 84px;
    }
    #range{
        width: 80%;
        margin-left: 65px;
        margin-top: 15px;
        cursor: pointer;
    }
    .main-song{
        display: flex;
        color: white;
        float: left;
        margin-top: 20px;
        margin-left: 65px;
    }
    .main-song h3{
        margin-top: 5px;
        font-size: 14px;
        margin-left: 10px;
    }
    .song-logos{
        float: right;
        margin-top: 20px;
        margin-right: 300px;
    }
    .song-logos i{
        font-size: 34px;
        margin: 0px 5px;
        cursor: pointer;
        color: white;
    }
    #gif{
        opacity: 0;
        transition: 1s;
        height: 20px;
        width: 70px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    header img{
        margin-left: 40px;
        margin-top: 15px;
    }
    header h2{
        margin-left: 10px;
    }
    header nav{
        display: flex;
        margin-top: 25px;
        margin-left: 40px;
    }
    header nav a{
        text-decoration: wavy;
        color: white;
        position: relative;
        margin-left: 40px;
    }
    header nav a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 16px;
        background-color: black;
        transition: .4s ease;
        color: black;
        width: 0;
        height: 3px;
    }
    header nav a:hover::after{
        width: 100%;
    }
    header nav a:hover{
        color: black;
    }
    .container{
        background-color: rgba(254, 39, 39, 0.58);
        margin-left: 40px;
        margin-right: 100px;
        border-radius: 5px;
        height: 350px;
        margin-top: 200px;
        display: flex;
    }
    .container .main-img{
        margin-left: 10px;
    }
    .music-items{
        margin-left: 50px;
    }
    .music-items h2{
        color: white;
        text-align: center;
    }
    .song-items-play{
        width: 390px;
        height: 282px;
        overflow-y: scroll;
    }
    .song-items-play::-webkit-scrollbar{
        width: 15px;
    }
    .song-items-play::-webkit-scrollbar-track{
        background-color: #ccc;
    }
    .song-items-play::-webkit-scrollbar-thumb{
        background-color: rgb(24, 24, 24);
        cursor: grab;
    }
    .song-list{
        display: flex;
        background-color: white;
        width: 350px;
        padding: 4px;
        margin-bottom: 10px;
        border-radius: 40px;
    }
    .song-img{
        border-radius: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .song-name{
        margin-left: 55px;
        font-size: 18px;
    }
    .song-list button{
        background-color: transparent;
        border: none;
        margin-left: 55px;
    }
    .song-list button i{
        font-size: 22px;
        color: black;
        cursor: pointer;
    }
    footer{
        background-color: rgba(254, 39, 39, 0.58);
        position: sticky;
        margin-top: 200px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 124px;
    }
    #range{
        width: 80%;
        margin-left: 65px;
        margin-top: 15px;
        cursor: pointer;
    }
    .main-song{
        display: flex;
        color: white;
        float: left;
        margin-top: 20px;
        margin-left: 65px;
    }
    .main-song h3{
        margin-top: 5px;
        font-size: 14px;
        margin-left: 10px;
    }
    .song-logos{
        float: right;
        margin-top: 20px;
        margin-right: 500px;
    }
    .song-logos i{
        font-size: 34px;
        margin: 0px 5px;
        cursor: pointer;
        color: white;
    }
    #gif{
        opacity: 0;
        transition: 1s;
        height: 20px;
        width: 70px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
}

@media screen and (min-width: 1281px) and (max-width: 1536px){
}